@model WebApplicationLocamerLDeMOg.Models.Sejour

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sejour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Début du séjour:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateDebut)
        </dd>

        <dt>
            Fin du séjour:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateFin)
        </dd>

        <dt>
            Type de catégorie:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorie.libelleCate)
        </dd>

        <dt>
            Nom du client:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.nom)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idSejour }) |
    @Html.ActionLink("Back to List", "Index")
</p>

