@model WebApplicationLocamerLDeMOg.Models.Sejour

@{
    ViewBag.Title = "Detail";
}

<h2>Detail du Séjour</h2>

<div>
    <h4>Sejour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Début du séjour:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateDebut)
        </dd>

        <dt>
            Fin du séjour:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateFin)
        </dd>

        <dt>
            Type de catégorie:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorie.libelleCate)
        </dd>

        <dt>
            Nom du client:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.nom)
        </dd>

    </dl>
</div>

<h2>Emplacement du séjour</h2>

<p>Prix des Emplacement : @Model.CalculPrixEmplacement()</p>

<table class="table">
    <tr>
        <th>
            Code
        </th>
        <th>
            Capacité
        </th>
        <th>
            Terrasse
        </th>
        <th>
            Catégorie
        </th>
    </tr>

    @foreach (var item in Model.DetailSej)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Emplacement1.emplacement1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emplacement1.capacité)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emplacement1.terrasse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emplacement1.Tarif.libelleTarif)
            </td>
        </tr>
    }
</table>

<h2>Options du séjour</h2>

<table class="table">
    <tr>
        <th>
            Libelle option
        </th>
        <th>
            Prix de l'option
        </th>
        <th>
            Durée de location
        </th>
        <th>
            Quantité
        </th>
    </tr>

    @foreach (var item in Model.DetailReserv)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OptionSej.libelleOption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionSej.prixOption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nbJour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantite)
            </td>
        </tr>
    }
</table>

@using (Html.BeginForm())
{
    <div class="form-group">
        <div class="col-md-3">
            Choisir l'emplacement à ajouter :
        </div>
        <div class="col-md-3">
            <!-- Insertion d'une liste déroulante, les valeurs de la liste proviennent de emplacement_id -->
            @Html.DropDownList("emplacement_id" ,null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-4 col-md-6">
            <input type="submit" value="Ajouter" class="btn btn-default" />
        </div>
    </div>
}


<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.idSejour }) |
    @Html.ActionLink("Retourner à la liste", "Index")
</p>
