@model IEnumerable<WebApplicationLocamerLDeMOg.Models.Sejour>

@{
    ViewBag.Title = "Index";
}

<h1>Application de Gestion Locamer</h1>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Date de début du séjour
        </th>
        <th>
            Date de fin du séjour
        </th>
        <th>
            Nom du client
        </th>
        <th>
            Libellé
        </th>
        <th>
            Nombre de Reservation
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dateDebut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categorie.libelleCate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DetailReserv.Count)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idSejour }) |
            @Html.ActionLink("Details", "Details", new { id=item.idSejour }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idSejour })
        </td>
    </tr>
}
</table>
