@model WebApplicationLocamerLDeMOg.Models.Emplacement

@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer</h2>

<h3>Voulez-vous vraiment supprimer cet élément ?</h3>
<div>
    <h4>Emplacement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.capacité)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capacité)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.terrasse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.terrasse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarif.libelleTarif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarif.libelleTarif)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retourner à la liste", "Index")
        </div>
    }
</div>
