@model IEnumerable<WebApplicationLocamerLDeMOg.Models.Emplacement>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Emplacement
        </th>
        <th>
            Terrasse
        </th>
        <th>
            Tarif
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.capacité)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.terrasse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tarif.libelleTarif)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.emplacement1 }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.emplacement1 })
        </td>
    </tr>
}

</table>
