@model IEnumerable<WebApplicationLocamerLDeMOg.Models.Client>

@{
    ViewBag.Title = "Index";
}

<h1>Application de Gestion Locamer</h1>
<h2>Index</h2>

<p>
    @Html.ActionLink("Créer un nouveau client", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nom du client
        </th>
        <th>
            Prénom du client
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prenom)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.idCli }) |
            @Html.ActionLink("Details", "Details", new { id=item.idCli }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.idCli })
        </td>
    </tr>
}

</table>
